Repository RobertGardner/teach-student-template: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.html": [
    "markuplint"
  ],
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx}": [
    "eslint --fix"
  ],
  "*.{js,jsx,ts,tsx,json,css,md}": [
    "prettier --write"
  ]
}

Do formatting after linting. Don't turn on format-on-save.
  .lintstagedrc
  .vscode/settings.json
Due: prettier --write

Remove eslint formatting rules
  .eslintrc
Due: none

Update all package versions
  .lintstagedrc
  .markuplintrc
  .stylelintrc
  .stylelintrc.cjs
  package-lock.json
  package.json
Due: prettier --write

Remove unused markuplint rule
  .markuplintrc
Due: none

Fix eslint dependencies.
  .eslintrc
Due: none

Add npm-run-all package
  package-lock.json
  package.json
Due: prettier --write

Turn off aria lint warnings.
  .markuplintrc
Due: none

Put config into lfz-config repo
  .devcontainer/devcontainer.json
  .eslintrc
  .lintstagedrc
  .markuplintrc
  .prettierignore
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --write

Switch to @learningfuze/lfz-config
  .eslintrc
  .lintstagedrc.cjs
  .markuplintrc.cjs
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: prettier --write

Add TS-eslint dependencies
  package-lock.json
  package.json
Due: prettier --write

Add TypeScript as dependency
  package-lock.json
  package.json
Due: prettier --write

Add package-lock to gitignore
  .gitignore
Due: none

Remove package-lock.json
  package-lock.json
Due: prettier --write

Add tsconfig to root
  tsconfig.json
Due: prettier --write

Remove package.lock from gitignore
  .gitignore
  package-lock.json
Due: prettier --write

Add fix for ipv6 not working with vite
  .devcontainer/devcontainer.json
Due: prettier --write

Updates for stand-alone instruction (WIP)
  .devcontainer/devcontainer.json
  .gitignore
  __sample__/.eslintrc
  __sample__/component.jsx
  __sample__/index.html
  __sample__/main.js
  __sample__/styles.css
  package-lock.json
  package.json
Due: markuplint, stylelint --fix, eslint --fix, prettier --write

Add README
  README.md
Due: prettier --write

How to open instructions in separate window.
  README.md
Due: prettier --write

HTTPie instructions
  README.md
Due: prettier --write
